body {
  font-size: 12px;
  color: #555555;
  height: 100vh;
}
[ng\:cloak],
[ng-cloak],
[data-ng-cloak],
[x-ng-cloak],
.ng-cloak,
.data-ng-cloak,
.x-ng-cloak {
  display: none !important;
}
.app-header {
  font-size: 24px;
  height: 64px;
  background-color: white;
}
.app-header img {
  margin: 5px 14px 0px 10px;
  width: 145px;
  float: left;
}
.app-footer {
  position: absolute;
  bottom: 10px;
  right: 10px;
  margin-right: 10px;
  background-color: white;
}
.chart-header {
  margin-left: 14px;
  font-size: 18px;
}
.chart:hover {
  cursor: pointer;
}
